.groupcard {
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  height: 45vh;
}

/* three dots and modal css here */
.groupcard .dot_info {
  position: relative;
}
.create_grp {
  text-align: center;
}
.create_grp .info {
  display: flex;
  flex-direction: column;
}
.create_grp .info .modal_btn {
  display: flex;
  gap: 10px;
}
.create_grp h2 {
  font-size: 30px;
  padding-bottom: 30px;
}
.create_grp .info button {
  width: 30%;
  margin-top: 15px;
}
.dots {
  cursor: pointer;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  transition: all linear 0.4s;
}
.dots:hover {
  background-color: rgba(253, 234, 234, 0.927);
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}
.groupcard .dot_info.active ul {
  display: block;
}
.groupcard .dot_info ul {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 10px;
  color: rgb(0, 0, 0);
  display: none;
  border-radius: 4px;
  font-weight: 300;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.groupcard .dot_info ul li {
  margin: 2px 0;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}

.groupcard .group_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.groupcard h4 {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}

.usermainbox {
  padding: 20px 0;
  border-bottom: 2px solid rgba(128, 128, 128, 0.327);
}

.usermainbox:last-child {
  border-bottom: none;
}

.usermainbox .useritem .userimagebox {
  height: 70px;
  width: 70px;
  background: red;
  border-radius: 50%;
  overflow: hidden;
}
.usermainbox .useritem .userimagebox img {
  width: 100%;
}

.usermainbox .useritem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.usermainbox .useritem .userinfobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.usermainbox .useritem .userinfobox button {
  padding: 8px 20px;
  background-color: #5f35f5;
  border: none;
  color: white;
  cursor: pointer;
}
.usermainbox .useritem .userinfobox .btn_grp {
  display: flex;
  gap: 5px;
}
.usermainbox .useritem .userinfobox p {
  font-size: 13px;
}
.usermainbox .useritem .userinfobox span {
  display: flex;
  gap: 5px;
}
.usermainbox .useritem .userinfobox span .circle_btn svg {
  color: white;
  height: 17px;
  width: 17px;
  background: #5f35f5;
  padding: 15px;
  border-radius: 50%;
}
.usermainbox .useritem .userinfobox button.userbutton {
  padding: 11px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}
