.main_feed {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  padding: 50px 0;
}
