.sidebar {
  width: 16%;
  position: fixed;
}

.sidebarBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #086fa4;
  height: 90vh;
  padding: 50px 0;
  gap: 30px;
  border-radius: 5px;
}

.sidebarBox .topbar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebarBox .topbar h3 {
  color: white;
  padding-top: 20px;
}

.sidebarBox .imgBox {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebarBox .imgBox img {
  width: 100%;
}

.sidebarBox .navigation {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.sidebarBox .navigation li a {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  padding: 30px 30px 22px 30px;
}

.sidebarBox .navigation li a.active {
  color: black;
  background-color: white;
  border-radius: 20px;
}

.sidebarBox .navigation li a svg {
  font-size: 27px;
}

.sidebarBox .logout svg {
  font-size: 40px;
  color: white;
}
